{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:jsx-a11y/recommended"
  ],
  "plugins": ["react-hooks", "jsx-a11y", "@typescript-eslint", "prettier"],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "typescript": {
        "directory": "./src"
      }
    }
  },
  "rules": {
    "@typescript-eslint/indent": ["error", 2],
    "@typescript-eslint/interface-name-prefix": 2,
    "@typescript-eslint/semi": 0,
    "@typescript-eslint/no-var-requires": 0,
    "@typescript-eslint/explicit-function-return-type": [
      "error",
      {
        "allowExpressions": true,
        "allowTypedFunctionExpressions": true
      }
    ],
    "no-console": [
      "warn",
      {
        "allow": ["error"]
      }
    ],
    "import/no-extraneous-dependencies": 0,
    "import/named": 0,
    "import/no-self-import": 0,
    "react/prop-types": 0,
    "import/order": 0,
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  },
  "globals": {
    "browser": false,
    "document": false
  },
  "env": {
    "jest": true
  }
}
